* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.mountain-frontpage {
  min-height: 100vh;
  background-image: url("./images/mountains.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
}

.layer {
  background-color: rgba(248, 247, 216, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}

.mountain-contents {
  z-index: 1;
  display: flex;
  align-items: center;
}

.mountain-contents h1 {
  padding: 1rem 3rem;
  letter-spacing: 0.2rem;
  background: red;
}

.section {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-content p {
  padding: 1rem 1rem;
}

.section-content h2 {
  padding-top: 1rem;
}

.section-image {
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  padding: 0 2rem;
}

.section-image h1 {
  color: white;
}
#section-1 {
  background: #ffe8df;
  color: #142850;
}
#section-2 {
  background: #ffffff;
  color: #27496d;
}
#section-3 {
  background: #f0f0f0;
  color: #0c7b93;
}

#section-image-1 {
  background-image: url("./images/mountains-redlight.jpg");
}

#section-image-2 {
  background-image: url("./images/mountains-forest.jpg");
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 3rem;
  }

  .section-image h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
